<div class="container">
  <div mc-messages></div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <form name="loginForm" class="form-horizontal" method="post" action="/admin-login-submit" novalidate>
        <fieldset>
          <!-- text field -->
          <div class="control-group">
            <label class="control-label" for="timeframe">NetID username</label>
            <div class="controls">
              <input type="text" class="span6" id="username" name="username" ng-model="username" />
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-large" ng-disabled="loginForm.$invalid || loginForm.$pristine">Login</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
