<div class="container">
  <div mc-messages></div>
  <div ng-if="isAdmin" class="alert alert-block alert-error notification fade in" ng-show="displayUnregisterPopup">
    <h3>Are you sure you want to delete this incident?</h3>
    <h6>Clicking "Yes" will mark this incident as "DELETED" in the incident list, and it will no longer be editable, nor viewable by subscribers.</h6>
    <div class="form-controls-alert">
      <br>
      <a href="" class="btn" ng-click="showUnregisterPopup(false)">No</a>
      <a href="" class="btn btn-danger" ng-click="unregisterIncident()">Yes</a>
    </div>
  </div>
  <!-- end alert -->
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <form name="incForm" class="form-horizontal" ng-submit="submitIncident(incForm.$valid)" novalidate>
        <fieldset>
          <legend> Incident Name: <b>{{title}}</b></legend>
          <input type="hidden" name="id" ng-model="id">

          <!-- Readonly Text -->
          <div class="control-group">
            <label class="control-label">Creation Time</label>
            <div class="controls readonly">
              {{create_time}}
            </div>
          </div>

          <!-- Readonly Text -->
          <div class="control-group">
            <label class="control-label">Last Updated</label>
            <div class="controls readonly">
              {{modify_time}}
            </div>
          </div>

          <!-- checkbox -->
          <div class="control-group">
            <label class="control-label" for="timeframe">Status</label>
            <div class="controls">
              <div class="btn-group" data-toggle="buttons">
                <button type="button" class="btn" ng-class="{'btn-primary': status == 'OPEN'}" ng-model="status" btn-radio="'OPEN'" ng-disabled="!isAdmin">OPEN</button>
                <button type="button" class="btn" ng-class="{'btn-primary': status == 'CLOSED'}" ng-model="status" btn-radio="'CLOSED'" ng-disabled="!isAdmin">CLOSED</button>
              </div>
            </div>
          </div>

          <!-- Textarea -->
          <div class="control-group">
            <label class="control-label" for="description">Overview</label>
            <div class="controls">
              <textarea id="description" class="form-control span6 msd-elastic" name="description" ng-model="description" ng-readonly="!isAdmin">A description of the incident</textarea>
            </div>
          </div>

          <!-- Textarea -->
          <div class="control-group">
            <label class="control-label" for="services">Services Affected</label>
            <div class="controls">
              <textarea id="services" class="form-control span6 msd-elastic" name="services" ng-model="services" ng-readonly="!isAdmin">List of impacted services (e.g., UAccess, D2L, etc)</textarea>
            </div>
          </div>

          <!-- text field -->
          <div class="control-group">
            <label class="control-label" for="timeframe">Date and Time</label>
            <div class="controls">
              <input type="text" class="span6" id="timeframe" name="timeframe" ng-model="timeframe" ng-readonly="!isAdmin" />
            </div>
          </div>

          <!-- Textarea -->
          <div class="control-group">
            <label class="control-label" for="impact">Impact to Campus</label>
            <div class="controls">
              <textarea id="impact" class="form-control span6 msd-elastic" name="impact" ng-model="impact" ng-readonly="!isAdmin">Describe impact to campus</textarea>
            </div>
          </div>

          <!-- Textarea -->
          <div class="control-group">
            <label class="control-label" for="planop">Planned Operation</label>
            <div class="controls">
              <textarea id="planop" class="form-control span6 msd-elastic" name="planop" ng-model="planop" ng-readonly="!isAdmin">Describe work to be done or remediation plans</textarea>
            </div>
          </div>

          <!-- Textarea -->
          <div class="control-group">
            <label class="control-label" for="contact">Contact</label>
            <div class="controls">
              <textarea id="contact" class="form-control span6 msd-elastic" name="contact" ng-model="contact" ng-readonly="!isAdmin"></textarea>
            </div>
          </div>

          <!-- Accordion toggle of status updates -->
          <div class="control-group">
            <label class="control-label" for="updates">Updates</label>
            <div class="controls">
              <accordion close-others="true">
                <accordion-group heading="{{update.create_time}} ({{update.updated_by}})" ng-repeat="update in updates">
                  {{update.text}}
                </accordion-group>
              </accordion>
              <a href="#" class="btn btn-success btn-small" ng-disabled="incForm.$invalid || displayUnregisterPopup" ng-click="$parent.addStatus=true" ng-if="isAdmin"><i class="icon-white icon-plus-sign"></i>New Update</a>
            </div>
          </div>

          <!-- Textarea -->
          <div class="control-group" ng-show="addStatus" ng-if="isAdmin">
            <label class="control-label" for="update">Incident Update</label>
            <div class="controls">
              <textarea id="update" class="form-control span6 msd-elastic" name="update" ng-model="$parent.update"></textarea>
            </div>
          </div>

          <!-- Accordion toggle of audit events -->
          <div class="control-group" ng-if="isAdmin">
            <label class="control-label" for="updates">Audit Log</label>
            <div class="controls">
              <accordion close-others="true">
                <accordion-group heading="{{auditentry.create_time}} ({{auditentry.changed_by}})" ng-repeat="auditentry in auditlog">
                  <table class="table table-bordered table-striped table-condensed">
                    <tr>
                      <th style="text-align:center;">Field</th>
                      <th style="text-align:center;">Previous Value</th>
                      <th style="text-align:center;">New Value</th>
                    </tr>
                    <tr ng-repeat="field in auditentry.changes">
                      <td style="vertical-align:middle;">{{field.field}}</a>
                      </td>
                      <td style="vertical-align:middle;">{{field.prev_val}}</td>
                      <td style="vertical-align:middle;">{{field.new_val}}</td>
                    </tr>
                  </table>
                </accordion-group>
              </accordion>
            </div>
          </div>

          <!-- checkbox -->
          <div class="control-group" ng-disabled="incForm.$invalid || incForm.$pristine || displayUnregisterPopup" ng-if="isAdmin">
            <label class="control-label" for="send_alert">Send alert?</label>
            <div class="controls checkbox">
              <input type="checkbox" name="send_alert" ng-true-value="true" ng-false-value="false" ng-model="$parent.send_alert" no-dirty-check>&nbsp;
              <em>(update will be sent immediately to all subscribers)</em>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-large" ng-disabled="incForm.$invalid || incForm.$pristine || displayUnregisterPopup" ng-if="isAdmin">Save</button>

        </fieldset>
      </form>
    </div>
    <div class="col-sm-4 col-sm-offset-4" ng-if="isAdmin">
      <button class="btn btn-danger btn-large" ng-click="showUnregisterPopup(true);"><i class="icon-white icon-trash"></i> Delete Incident</a>
    </div>
  </div>
</div>
