<div class="container">
  <div mc-messages></div>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h3>
          Select an existing alert below{{isAdmin ? ", or create a new one" : " for more detail"}}.
        </h3>
        <p>
          <a href="new-alert" class="btn btn-success btn-large" ng-if="isAdmin"><i class="icon-white icon-plus-sign"></i> Create Alert</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <table class="table table-bordered table-striped table-condensed">
          <tr>
            <th style="text-align:center;">Title</th>
            <th style="text-align:center;">Status</th>
            <th style="text-align:center;">Created</th>
            <th style="text-align:center;">Last Updated</th>
          </tr>
          <tr ng-repeat="inc in incidents">
            <td style="vertical-align:middle"><a href="i/{{inc.id}}">{{inc.title}}</a></td>
            <td style="vertical-align:middle;text-align:center;"><button class="btn btn-mini disabled" ng-class="inc.status == 'OPEN' ? 'btn-danger' : 'btn-success'">{{inc.status}}</button></td>
            <td style="vertical-align:middle;text-align:center;">{{inc.create_time}}</td>
            <td style="vertical-align:middle;text-align:center;">{{inc.modify_time}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
