<div class="container">
  <div mc-messages></div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <form name="newIncForm" class="form-horizontal" ng-submit="submitList(newIncForm.$valid)" novalidate>

        <!-- Form Name -->
        <legend>Create Incident</legend>

        <!-- Text input-->
        <div class="control-group ">
          <label class="control-label" for="name">Incident Title</label>
          <div class="controls">
            <input id="name" name="name" type="text" placeholder="identifier for incident (max. 65 chars)" ng-model="title" class="span6" ng-maxlength="65" ng-class="{'submitted':title.submitted}" required>
            <p class="help-block" ng-show="newIncForm.name.$error.maxlength">Incident title must be 65 characters or less</p>
          </div>
        </div>

        <!-- Textarea -->
        <div class="control-group ">
          <label class="control-label" for="description">Overview</label>
          <div class="controls">
            <textarea id="description" class="form-control span6 msd-elastic" ng-class="{'submitted':description.submitted}" name="description" ng-model="description" placeholder="description of the incident" required></textarea>
          </div>
        </div>

        <!-- Textarea -->
        <div class="control-group ">
          <label class="control-label" for="services">Services Affected</label>
          <div class="controls">
            <textarea id="services" class="form-control span6 msd-elastic" ng-class="{'submitted':description.submitted}" name="services" ng-model="services" placeholder="list of impacted services (e.g., UAccess, D2L, etc)" required></textarea>
          </div>
        </div>

        <!-- text field -->
        <div class="control-group ">
          <label class="control-label" for="timeframe">Date and Time</label>
          <div class="controls">
            <input type="text" id="timeframe" name="timeframe" ng-model="timeframe" class="span6" ng-class="{'submitted':title.submitted}" placeholder="date/time (or timeframe/range) of the incident" required/>
          </div>
        </div>

        <!-- Textarea -->
        <div class="control-group ">
          <label class="control-label" for="impact">Impact to Campus</label>
          <div class="controls">
            <textarea id="impact" class="form-control span6 msd-elastic" ng-class="{'submitted':description.submitted}" name="impact" ng-model="impact" placeholder="who does this affect and how?" required></textarea>
          </div>
        </div>

        <!-- Textarea -->
        <div class="control-group ">
          <label class="control-label" for="planop">Planned Operation</label>
          <div class="controls">
            <textarea id="planop" class="form-control span6 msd-elastic" ng-class="{'submitted':description.submitted}" name="planop" ng-model="planop" placeholder="describe work to be done or remediation plans" required></textarea>
          </div>
        </div>

        <!-- Textarea -->
        <div class="control-group ">
          <label class="control-label" for="contact">Contact</label>
          <div class="controls">
            <textarea id="contact" class="form-control span6 msd-elastic" ng-class="{'submitted':description.submitted}" name="contact" ng-model="contact" placeholder="contact point for more info" required></textarea>
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-large" ng-disabled="newIncForm.$invalid">Create</button>

        </fieldset>
      </form>

    </div>
  </div>
</div>
