<div class="container">
  <div mc-messages></div>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h3>
          Manage your subscriptions
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <table class="table table-bordered table-striped table-condensed">
          <tr>
            <th style="text-align:center;">Subscription Endpoint</th>
            <th style="text-align:center;">Subscription Type</th>
            <th style="text-align:center;">Subscribed Time</th>
            <th style="text-align:center;">Confirmed?</th>
            <th style="text-align:center;">Unsubscribe</th>
          </tr>
          <tr ng-repeat="sub in subscriptions">
            <td style="vertical-align:middle">{{sub.endpoint}}</a>
            </td>
            <td style="vertical-align:middle;text-align:center;">{{sub.endpoint_type}}</td>
            <td style="vertical-align:middle;text-align:center;">{{sub.create_time}}</td>
            <td style="vertical-align:middle;text-align:center;"><button class="btn btn-mini disabled" ng-class="(sub.arn.slice(0, 4) == 'arn:') ? 'btn-success' : 'btn-danger'"><i ng-class="(sub.arn.slice(0, 4) == 'arn:') ? 'icon-ok-sign icon-white' : 'icon-minus-sign icon-white'"></i></button>
            <td style="vertical-align:middle;text-align:center;">
              <button class="btn btn-small btn-danger" ng-click="unsubscribeEndpoint(sub.arn, sub.sub_id)"><i class="icon-trash icon-white"></i></button>
            </td>
          </tr>
        </table>
        <a href="#" class="btn btn-success btn-small" ng-click="$parent.addSub=true" ng-if="isAuth"><i class="icon-white icon-plus-sign"></i> Subscribe</a>
      </div>
    </div>
    <div class="row" ng-show="addSub && isAuth">
      <div class="col-sm-4 col-sm-offset-4">
        <form name="subForm" id="subForm" class="form-horizontal" ng-submit="subscribeEndpoint(subForm.$valid)" novalidate>
          <fieldset>
            <div class="control-group">
              <label class="control-label" for="type">Subscription Type</label>
              <div class="controls">
                <div class="btn-group" data-toggle="buttons">
                  <button type="button" class="btn" ng-class="{'btn-primary': sub_type == 'EMAIL'}" ng-model="sub_type" btn-radio="'EMAIL'">EMAIL</button>
                  <button type="button" class="btn" ng-class="{'btn-primary': sub_type == 'SMS'}" ng-model="sub_type" btn-radio="'SMS'">SMS</button>
                </div>
              </div>
            </div>
            <div class="control-group" ng-class="{error: subForm.email.$invalid}" ng-show="(sub_type == 'EMAIL') ? true : false" ng-required="!(email.length || phone.length)">
              <label class="control-label" for="email">Email address</label>
              <div class="controls">
                <input type="email" class="span4" id="email" name="email" ng-model="email" placeholder="your@email.address"/>
                <br><span class="error" ng-show="subForm.email.$error.email">please enter a valid email address</span>
              </div>
            </div>
            <div class="control-group" ng-class="{error: subForm.phone.$invalid}" ng-show="(sub_type == 'SMS') ? true : false" ng-required="!(email.length || phone.length)">
              <label class="control-label" for="phone">Phone number</label>
              <div class="controls">
                <input type="text" class="span4" id="phone" name="phone" ng-model="phone" ng-pattern="phoneRE" placeholder="5205551212"/>
                <br><span class="error" ng-show="subForm.phone.$error.pattern">please enter a 10-digit U.S. phone number (digits only)</span>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-large" ng-disabled="subForm.$invalid || subForm.$pristine">Submit</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
