<html>

<head>
    <title>Shibboleth Error</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=520">
    <link rel="stylesheet" type="text/css" href="/stylesheets/error.css">
</head>

<body>
    <div id="container">
        <div class="uashib_box">
            <div class="uashib_content">
                <div style="float: left;">
                    <a href="http://www.arizona.edu">
                        <img class="uashib" src="/images/ua_banner.png" />
                    </a>
                </div>
                <div style="float: right;">
                    <a href="http://uits.arizona.edu">
                        <img class="uashib" src="/images/uits.png" />
                    </a>
                </div>
                <div style="clear: both;"></div>
                <h1 class="uashib">Shibboleth Error</h1>
                <p class="uashib">
                    An error occurred while processing your request.
                </p>
                <p class="uashib">
                    If you think you were sent here in error, or require further assistance, please submit a <a href="http://uassist.arizona.edu" target="_new">UAssist Support Request</a> or call (520) 626-TECH (8324).
                </p>
                <p class="uashib">

                    <strong>Error Message:
                        <%=login_errors %>
                    </strong>

                </p>
            </div>
        </div>
    </div>
</body>

</html>
