<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel='stylesheet' href='/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/css/bootstrap-responsive.min.css' />
  <link rel='stylesheet' href='/css/ng-notify.min.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/js/angular.min.js"></script>
  <script src="/js/angular-route.min.js"></script>
  <script src="/js/angular-sanitize.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/services.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/filters.js"></script>
  <script src="/js/directives.js"></script>
  <script src="/js/elastic.js"></script>
  <script src="/js/ui-bootstrap-tpls-0.8.0.min.js"></script>
  <script src="/js/ng-notify.min.js"></script>
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="offset1">
        <a class="brand" href="http://www.arizona.edu">
          <img src="/images/ua_line_logo_white.png">
        </a>
      </div>
      <div class="brand" style="padding-top: 11px;">UITS Incident Alerts Manager</div>
      <div class="container">
        <% if (is_auth) { %>
          <a href="/logout" target="_self" class="btn btn-danger btn-sm navbar-btn pull-right">Logout</a>
          <a href="/subscribe" target="_self" class="btn btn-warning btn-sm navbar-btn pull-right">Subscribe</a>
          <% } else { %>
            <a href="/admin-login" target="_self" class="btn btn-danger btn-sm navbar-btn pull-right">Admin</a>
            <a href="/logon" target="_self" class="btn btn-success btn-sm navbar-btn pull-right">Login</a>
            <% } %>
              <a href="/" target="_self" class="btn btn-info btn-sm navbar-btn pull-right">Home</a>
      </div>
    </div>
    <!-- /navbar-inner -->
  </div>

  <div ng-view>

  </div>
</body>

</html>
