<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>Admin Duo Authentication</title>
    <script src="/js/Duo-Web-v1.bundled.min.js"></script>
    <script>
    Duo.init({
      'host': '<%= host %>',
      'post_action': '<%= post_action %>',
      'sig_request': '<%= sig_request %>'
    });
    </script>
    <style>
      body {
        background: #f1f1f1;
      }
      .iframe_div {
        width: 90%;
        max-width: 620px;
        margin: 0 auto;
      }
      #duo_iframe {
        height: 500px;
        width: 100%;
      }
      div {
        background: transparent;
      }
    </style>
  </head>
  <body>
    <div class="iframe_div">
        <iframe id="duo_iframe" frameborder="0" allowtransparency="true"></iframe>
    </div>
    <form method="POST" style="display:none;" id="duo_form">
    </form>
  </body>
</html>
