/* UASHIB Classes */
.uashib
{
        font-family: Verdana, sans-serif;
        font-size: 1.0em;
}

h1.uashib
{
        font-size: 1.25em;
}

a.uashib
{
        color: #00247D;
        text-decoration: underline;
}

a.uashib:visited
{
        color: #00247D;
        text-decoration: underline;
}

a.uashib:focus, a.uashib:hover, a.uashib:active
{
        color: #F39800;
        text-decoration: underline;
}

img.uashib {border: 0;}


/* AAI Classes */
#container {
/*
        display: block;
        position: absolute;
        left: 35%;
        top: 35%;
        margin-left: -240px;
        margin-top: -300px;
*/
}

.uashib_box
{
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        background-repeat:no-repeat;
        background-position:left top;
        background-color: #FFFFFF;
        box-shadow: 1px 1px 8px #999999;
        border-radius: 13px;
        -webkit-box-shadow: 1px 1px 8px #999999;
        -webkit-border-radius: 13px;
        -moz-box-shadow: 1px 1px 8px #999999;
        -moz-border-radius: 13px;
        overflow: hidden;
        padding: 20px;
        text-align: left;
}


/* IE 6 hack */
* html .uashib_box { border: 2px #969696 solid; }

/* IE 7 hack */
*+html .uashib_box { border: 2px #969696 solid; }


/* IE 8 hack */
@media \0screen {
        .uashib_box { border: 2px #969696 solid; }
}
