body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dropdown-menu a{
    text-align: center;
}

.navbar-inner {
  background-color: #0C234B     !important;
  background-image: none !important;
}

.navbar .brand {
color: #fff !important;
text-shadow: none !important;

}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #1e9aff !important;
}

.controls.readonly
{
  padding-top: 5px;
}

.btn {
    margin-left: 3px;
    margin-right: 3px;
}

.popover {
        width: 450px !important;
        max-width: 500px !important;
}

.submitted.ng-invalid
{
  border:1px solid #f00;
}
